<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Items</title>
</head>
<body>

<p th:text="'test 1 = '+ ${test}"></p>

<p th:text="'test 2 = '+ ${test}">not empty</p>
<p th:text="'items count = '+${items.size()} "></p>

<p><a th:href="@{/todo/deleteItem/{items}/}">
    the items </a></p>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Detail Snippet </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${items}" >
        <td th:text="${item.id} ">  </td>
        <td th:text="${item.details}"></td>
        <td th:href="@{/todo/deleteItem/{item}}">
            delete2
            <a th:href="@{'/todo/deleteItem/'+${item.id}+'/'}">
                Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/todo/addItem/}">Add Item</a>
</p>




</body>
</html>